{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} profile {% endblock %} </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main_m.css' %}">
</head>
<body>
    <div class="cont">
<aside>
    <h1 style="color: antiquewhite;">{{ username }}</h1>
  
 <nav>
  <ul>
    <li id="profile"><i class="fas fa-user"style="margin:2px"></i><a href="profile.html">Profile</a></li>
    <li id="contacts"><i class="fas fa-phone"style="margin:2px"></i><a href="contacts.html">Contacts</a></li>
    <li id="settings"> <i class="fas fa-tools"style="margin:2px"></i><a href="settings.html">Settings</a></li>
    <li id="log_out"><i class="fas fa-sign-out"style="margin:2px"></i><a href="logout.html">Log out</a></li>
   </ul>
 </nav>
</aside>
<section>
    <header>
     <h2 style="text-align: center;">Profile</h2>
    </header>
    <div class="contents" id="contentsDiv">
      
        {% block content %}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    {% endblock %}
    
    
    </div>
</section>

    </div>
    <footer style="width: 100%;background-color: #000;padding: 30px;"> 
      &copy; Tharcisse 2024, All rights reserverd. Front-End: Mesii, Back-End: Tharcisse
    </footer>
</body>
</html>